@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

.btn-principal {
    color: #fff;
    background-color: #6F94FF;
    border-color: #6F94FF;
}
.btn-secundario {
    color: #fff;
    background-color: #ADC0F5;
    border-color: #ADC0F5;
}
.bg-principal{
    color: #fff;
    background-color: #D4E0FF;
}
@media (min-width: 992px) {
    .navbar{
      flex-direction: column;
    }
    .vertical .navbar-nav {
      flex-direction: column;
    }
    .navbar {
      width: 100%;
      height: 100vh;
    }
    .navbar-brand {
      margin-left: 0.5em;
      padding-bottom: 0;
      border-bottom: 4px solid #464646;
    }
  }